 **Named Entity Recognition (NER) is a powerful Natural Language Processing (NLP) technique that identifies and classifies named entities (such as people, organizations, locations, dates, etc.) in text**

- USE CASE 1 :Search
- USE CASE 2 : Recommendation system
- USE CASE 3 : Customer service

In [8]:
import spacy
nlp=spacy.load("en_core_web_sm")

In [9]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [18]:
doc=nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text,"|",ent.label_)

Tesla Inc | ORG
$45 billion | MONEY

In [22]:
doc=nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|", spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [24]:
#Another version in more stylish way
from spacy import displacy
displacy.render(doc,style="ent")

Twitter is also a company ,but it not recognizes it pproperly,...lets add Twitter Inc

In [34]:
doc=nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
    print(ent.text,"|",ent.label_,"|", spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
Twitter Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [36]:
#Another version in more stylish way
from spacy import displacy
displacy.render(doc,style="ent")

##### TAKEAWAY :NER is not perfect 
- like when I write 'T' Capital of 'Twitter' folled by Inc then it identifies that it is a company

In [47]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [57]:
doc=nlp('Michael Bloomeberg founded Bloomeberg L.P in 1982')
for ent in doc.ents:
    print(ent,"|",ent.label_,"|",spacy.explain(ent.label_))

Michael Bloomeberg | PERSON | People, including fictional
Bloomeberg L.P | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

- Hugging Face is popular Named ENtity Recognition

https://huggingface.co/dslim/bert-base-NER?text=Michael+Bloomberg+founded+Bloomberg+in+1982

#### Setting custom entities

In [68]:

doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [70]:
s = doc[2:5]
s

going to acquire

In [72]:
type(s)

spacy.tokens.span.Span

In [74]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [76]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

#### Extercise

- Extract all the Geographical (cities, Countries, states) names from a given text

In [114]:
import spacy
nlp=spacy.load("en_core_web_sm")

text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""
doc=nlp(text)

In [115]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [122]:
all_gpe_names=[]
for ent in doc.ents:
    if ent.label_=='GPE':
        all_gpe_names.append(ent)

In [124]:
print("Geographical location Names: ", all_gpe_names)
print("Count: ", len(all_gpe_names))

Geographical location Names:  [India, Delhi, Gujarat, Tamilnadu, Pongal, Andhrapradesh, Assam, Bihar]
Count:  8

- Extract all the birth dates of cricketers in the given Text

In [127]:

text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [135]:
all_birth_dates=[]
for ent in doc.ents:
    if ent.label_=='DATE':
        all_birth_dates.append(ent)

In [137]:
print("Birth dates: ", all_birth_dates)
print("Count: ", len(all_birth_dates))

Birth dates:  [24 April 1973, 5 November 1988, 7 July 1981, 19 December 1974]
Count:  4